.container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  overflow: auto;
}

.content {
	background-color:#c7c9e6;
	display:flex;
	flex-direction:column;
  border-radius:7px;
}

.tab {
    margin:.5em;
    flex-grow: 1;
    text-align: center;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin:10px;
    width: 300px;
}

.background-color {
  background-color: #efefef;
}