.container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  overflow: auto;
}

.content {
	background-color:grey;
	display:flex;
	flex-direction:column;
}

.tab {
    margin:.5em;
    flex-grow: 1;
    text-align: center;
}